<div class="job-posts">
<% JobCategory.with_jobs.each do |jc| %>
  <div class="job-post">
    <div class="heading">
      <div class="post-job pull-right">
        <a class="btn btn-primary new-btn" href="#" data-category-id="<%= jc.id %>">Post a <%= jc.name.downcase %> job: $200 for 30 days</a>
      </div>

      <h2><%= jc.name %> Jobs</h2>
      <div class="clearfix"></div>
    </div>

    <ul class="list-unstyled">
      <% jc.job_posts.each do |job| %>
        <%= render partial: 'posting_li', locals: { job: job } %>
      <% end %>
    </ul>
  </div>
<% end %>
</div>
