<div class="heading">
  <div class="post-job pull-right">
    <a class="btn btn-primary new-btn" href="/job_posts/new">Post a job: $200 for 30 days</a>
  </div>

  <h2><%#= @category_name %> Jobs</h2>
  <div class="clearfix"></div>
</div>

<ul class="list-unstyled">
  <% @job_posts.each do |job| %>
    <%= render partial: 'posting_li', locals: { job: job } %>
  <% end %>
</ul>
